@page "/DetallesCotizacion"
@page "/DetallesCotizacion/{cotizacionId:int}"
@*nos permite acceder a los metodos del servicio en el codigo*@


@inject ICotizacionService CotizacionService
@inject IClienteService ClienteService


@inject NavigationManager NavigationManager

<h1 class="text-primary">Detalles Cotizacion</h1>

<div>
    <button class="btn-primary" @onclick="ShowPopUp">Seleccionar Cliente</button>
</div>



    @if (popup)
    {
        <div class="modal" tabindex="-1" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Seleccionar Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ClosePopUp"></button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="@cliente">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Numero de Cliente</th>
                                        <th>Nombre/Razon Social</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cliente in clientes)
                                    {
                                        <tr>
                                            <td>@cliente.ClienteId</td>
                                            <td>@cliente.NombreCliente</td>
                                            <th><a class="badge badge-primary" @onclick="(()=>Seleccionar(cliente))">Seleccionar</a></th>
                                            <th><a class="badge badge-danger" @onclick="ClosePopUp"><i>Borrar</i></a></th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </EditForm>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal" @onclick="ClosePopUp">Close</button>
                        <button type="button" class="btn btn-primary" @onclick="(()=>Seleccionar(cliente))">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    }

<EditForm Model="@cotizacion">
    <table class="table">
        <tr>
            <td>Titulo:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="cotizacion.Titulo" /></td>
        </tr>
        <tr>
            <td>Cliente<button class="btn-primary" @onclick="ShowPopUp">Seleccionar</button></td>
            <td><input class="form-control col-sm-4" type="text" @bind="cotizacion.ClienteId" /></td>
        </tr>
        <tr>
            <td>Creado Por:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="cotizacion.Autor" /></td>
        </tr>
        <tr>
            <td>Fecha de Captura</td>
            <td><input type="date" @bind="cotizacion.FechaCaptura" /></td>
        </tr>
        <tr>
            <td>Tiempo de Entrega</td>
            <td><input class="form-control col-sm-4" type="number" @bind="cotizacion.TiempoEntrega" /></td>
        </tr>
        <tr>
            <td>Moneda</td>
            <td>
                <select name="Moneda" id="Moneda" @bind="cotizacion.Moneda">
                    <optgroup label="Pesos Mexicanos">
                        <option value="MXP">Pesos</option>
                    </optgroup>
                    <optgroup label="Dolar Americano">
                        <option value="USD">Dolares</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td>Terminos de Pago</td>
            <td>
                <select name="Terminos de pago" id="Terminos de pago" @bind="cotizacion.TerminosPago">
                    <optgroup label="Contado">
                        <option value="Pago de Contado">Pago de Contado</option>
                    </optgroup>
                    <optgroup label="Pago Credito">
                        <option value="Pago Credito 15 días">Pago Credito</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td>Vigencia</td>
            <td><input class="form-control col-sm-4" type="date" @bind="cotizacion.Vigencia" /></td>
        </tr>







        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" class="btn btn-primary" @onclick="SaveCotizacion" />
                <input type="button" value="Cancel" class="btn btn-info" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {

    #region popUp Cliente

    bool popup = false;

    void ShowPopUp()
    {
        popup = true;
    }

    void ClosePopUp()
    {
        popup = false;
    }

    #endregion

    public string Message { get; set; }

    [Parameter]
    public int clienteId { get; set; }

    private Cliente cliente = new Cliente();

    public IEnumerable<Cliente> clientes { get; set; }

    [Parameter]
    public int productoId { get; set; }

    private Producto producto = new Producto();

    [Parameter]
    public int cotizacionId { get; set; }

    private Cotizacion cotizacion = new Cotizacion();


    protected override async Task OnInitializedAsync()
    {
        if (cotizacionId != 0)
        {
            cotizacion = await CotizacionService.GetCotizacionDetails(cotizacionId);
        }
        try
        {
            clientes = await ClienteService.GetAllCliente();
        }
        catch (Exception e)
        {

            Message = e.Message;
        }
    }

    protected async Task SaveCotizacion()
    {
        await CotizacionService.SaveCotizacion(cotizacion);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    #region Funciones Cliente

    protected async Task Seleccionar(Cliente cliente)
    {
        cotizacion.ClienteId = cliente.ClienteId;

        await CotizacionService.SaveCotizacion(cotizacion);

        ClosePopUp();
    }
    //protected async Task GetAllCliente()
    //{
    //    try
    //    {
    //        clientes = await ClienteService.GetAllCliente();
    //    }
    //    catch (Exception e)
    //    {

    //        Message = e.Message;
    //    }

    //}

    #endregion

    #region
    //test

    #endregion
}
