@page "/DetallesCotizacion"
@page "/DetallesCotizacion/{cotizacionId:int}"
@*nos permite acceder a los metodos del servicio en el codigo*@


@inject ICotizacionService CotizacionService

@inject NavigationManager NavigationManager

<h1>Detalles Cotizacion</h1>

<EditForm Model="@cotizacion">
    <table class="table">
        <tr>
            <td>Titulo:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="cotizacion.Titulo" /></td>
        </tr>
        <tr>
            <td>Creado Por:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="cotizacion.Autor" /></td>
        </tr>
        <tr>
            <td>Fecha de Captura</td>
            <td><input type="date" @bind="cotizacion.FechaCaptura" /></td>
        </tr>
        <tr>
            <td>Tiempo de Entrega</td>
            <td><input class="form-control col-sm-4" type="number" @bind="cotizacion.TiempoEntrega" /></td>
        </tr>
        <tr>
            <td>Moneda</td>
            <td>
                <select name="Moneda" id="Moneda" @bind="cotizacion.Moneda">
                    <optgroup label="Pesos Mexicanos">
                        <option value="MXP">Pesos</option>
                    </optgroup>
                    <optgroup label="Dolar Americano">
                        <option value="USD">Dolares</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td>Terminos de Pago</td>
            <td>
                <select name="Terminos de pago" id="Terminos de pago" @bind="cotizacion.TerminosPago">
                    <optgroup label="Contado">
                        <option value="Pago de Contado">Pago de Contado</option>
                    </optgroup>
                    <optgroup label="Pago Credito">
                        <option value="Pago Credito 15 días">Pago Credito</option>
                    </optgroup>
                </select>
            </td>
        </tr>
        <tr>
            <td>Vigencia</td>
            <td><input class="form-control col-sm-4" type="date" @bind="cotizacion.Vigencia" /></td>
        </tr>







        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveCotizacion" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public int cotizacionId { get; set; }

    private Cotizacion cotizacion = new Cotizacion();

    protected override async Task OnInitializedAsync()
    {
        if (cotizacionId != 0)
        {
            cotizacion = await CotizacionService.GetCotizacionDetails(cotizacionId);
        }
    }

    protected async Task SaveCotizacion()
    {
        await CotizacionService.SaveCotizacion(cotizacion);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
