<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="Identity/Account/Register">Register new User</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @*Se marco como comentario la linea correspondiente al regristro para evitar acceso no autorizado*@
        @*<a href="Identity/Account/Register">Register</a>*@
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


